@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

body {
    background-color: var(--Yellow);
    font-family: Figtree, sans-serif;
}

.container {
    background-color: var(--White);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    max-width: 380px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px var(--Gray-950);
}

.container img {
    border-radius: 12px;
}

.learning {
    background-color: var(--Yellow);
    padding: 8px;
    border-radius: 3px;
    max-width: 80px;
    text-align: center;
    max-height: 40px;
    margin: 15px 0px;
    font-weight: 600;
    font-size: smaller;
}

.container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 12px 0px;
    cursor: pointer;
}

.container h1:hover {
    color: var(--Yellow);
}

.desc {
    color: var(--Gray-500);
}

.person {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.person img {
    max-width: 40px;
}

.person span {
    font-weight: 600;
    font-size: smaller;
    margin-left: 10px;
}